@font-face {
    font-family: 'old_school_united_regular';
    src: url(old_school_united_regular.ttf);
}

*{
    font-family: sans-serif;
    margin: 0;
}

/*banner styling*/
.banner{
    /*color: #8D191C;*/
    margin: 0 auto;
    /*font-size: 20px;*/
    /*text-align: center;*/
    display: inline-block;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #8D191C;
    margin: auto;
}

h1#header{
    font-family: 'old_school_united_regular';
    font-size: 40px;
    color: white;
    padding-left: 25px;
}

#logo{
    height: 80px;
    width: 80px;
    
    clip-path: circle(50%);

}

#site_name{
    text-align: center;
}

p#banner{
    text-align: right;
    font-family: 'old_school_united_regular';
    
}

.search_bar{
    width: 90%;
    height: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 20px;
    background-color: rgb(192, 170, 170);
    vertical-align: bottom;
    margin: 10px auto 10px;
}

.site_logo_and_name{
    /*float: left;*/
    /*height: 150px;*/
    width: 100%;
}

.profile{
    float: right;
}

#banner_gap{
    width: 100%;
    
}

#profile_icon_banner{
    border: 1px solid;
    border-radius: 50%;
    margin-right: 10px;
}

/*-----------------------------------------*/

/*post - card layout styling*/
.cards{
    margin: 10px auto;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
}

.card{
    padding: 10px;
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 0;
    /*border: 1px solid black;*/
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.content_card{
    margin-top: 10px;
    margin-bottom: 0;
}

h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.content{
    margin: 20px 0;
}

#user_icon{
    border: 3px solid;
    border-radius: 50%;
    font-size: 30px;
    
    /*clip-path: circle(50%);*/
}

#username{
    font-size: 20px;
    font-weight: bold;
    vertical-align: top;
}

#user_post_icon{
    vertical-align: top;
}

#duration{
    font-size: 10px;
}

.user_functions{
    width: 100%;
}

#user_functions_button{
    max-width: 20%;
}

#user_functions_gap{
    width: 50%;
}

/*
table, tr, td{
    
    border : 1px solid;
    vertical-align: bottom;
}
*/



td{
    /*vertical-align: bottom;*/
    /*display: inline-block;*/
}
/*------------------------------------------------*/

/*-----------------comment section-----------------*/

#comment_heading{
    text-align: center;
}

.comments{
    margin: 10px;
    align-items: center;
}

.comment_box{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
}

p#comment_content{
    margin-top: 20px;
    margin-bottom: 10px
}