@font-face {
    font-family: 'old_school_united_regular';
    src: url(old_school_united_regular.ttf);
}

*{
    font-family: sans-serif;
    margin: 0;
}

/*banner styling*/
.banner{
    color: #8D191C;
    margin: 0 auto;
    /*font-size: 20px;*/
    /*text-align: center;*/
    /*display: inline-block;*/
    width: 100%;
}

h1#header{
    font-family: 'old_school_united_regular';
    font-size: 40px;
    
}

#logo{
    height: 80px;
    width: 80px;
    
    clip-path: circle(50%);

}


p#banner{
    text-align: right;
    font-family: 'old_school_united_regular';
    
}

.search_bar{
    width: 90%;
    height: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 20px;
    
    vertical-align: bottom;
    
}

.site_logo_and_name{
    /*float: left;*/
    /*height: 150px;*/
    width: 100%;
}


/*post - card layout styling*/
.cards{
    margin: 10px;
}

.card{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*border: 1px solid black;*/
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.content_card{
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.content{
    margin: 20px 0;
}

#user_icon{
    border: 3px solid;
    border-radius: 50%;
    font-size: 30px;
    
    /*clip-path: circle(50%);*/
}

#username{
    font-size: 20px;
    font-weight: bold;
    vertical-align: top;
}

#user_post_icon{
    vertical-align: top;
}

#duration{
    font-size: 10px;
}

#user_functions{
    width: 40px;
}

#user_functions_gap{
    width: 50%;
}

*/
table, tr, td{
    
    border : 1px solid;
    vertical-align: bottom;
}
*/



td{
    /*vertical-align: bottom;*/
    /*display: inline-block;*/
}
/*------------------------------------------------*/

